<header>
  <div class="text-center">
    <div class="container-fluid row justify-content-md-center">
      <h1>dinero total:{{ getPresupuestoTotal() | currency:"ARS" : "$":"1.2-2"}}</h1>
      <div class="row container justify-content-md-center">
        <div class="col-4">
          <h3>total ingresos:{{ getIngresosTotal() | currency:"ARS" : "$":"1.2-2" }}</h3>
        </div>

        <div class="col-4">
          <h3>total egresos:{{ getEgresosTotal() | currency:"ARS" : "$":"1.2-2"}}</h3>
        </div>
      </div>
    </div>
  </div>
</header>
